{% include 'authentication/default.html' %}


{% block midPart %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">MyClinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Signin</a>
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        </div>
      </div>
    </div>
  </nav>



  <center>
  <div class="card" style="margin-top: 15%;width: 20%;background-color: rgba(0, 0, 0, 0.1);"> 
  <div class="card-title"> 
  Please Confirm Your EMail Address
  </div>
    <div class="card-body">   
      <form action='{% url 'confirm'%}' method="POST"> 
      {% csrf_token %}
        <div style="color: red;">
          {{error}}
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="number" class="form-control"  name="otp" placeholder="otp" aria-label="otp" aria-describedby="basic-addon1">
        </div>
        <input type="submit" class="btn btn-secondary"></input>
      </form> 
      
    </div>
  </div>
<center>

{% endblock midPart %}

