{% include 'authentication/default.html' %}

{% block midPart %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">MyClinic</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="{% url 'signin' %}">Signin</a>
          <a class="nav-link active" href="{% url 'signup' %}">Signup</a>
        </div>
      </div>
    </div>
  </nav>



  <center>
  <div class="card" style="margin-top: 5px;width: 40%;background-color: rgba(0, 0, 0, 0.1);"> 
  <div class="card-title" style="color: blanchedalmond;">
    <h3>
      New Visior Signup

    </h3>   
  </div>
    <div class="card-body">   
      <form action='{% url 'signup' %}' method="POST"> 
      {% csrf_token %}

      <select required class="form-select my-3" name="gender" aria-label="Default select example">
        <option selected value="m">Male</option>
        <option value="f">Female</option>
        <option value="o">Other</option>
      </select>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
          <input required type="text" class="form-control"  name="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input required type="text" class="form-control"  name="email" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon2"><i class="bi bi-globe2"></i></span>
          <input required type="text" class="form-control"  name="nat" placeholder="Nationality" aria-label="Nationality" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon3">Date Of Birth</span>
          <input  required type="date" class="form-control"  name="dob" placeholder="Date Of birth" aria-label="Date Of birth" aria-describedby="basic-addon3">
        </div>

        <div class="input-group mb-3">
          <input required type="password" name="password" id="Pass" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
          <span id="basic-addon2" class="input-group-text" onclick="
                var eye=document.getElementById('shPass');
                eye.classList.toggle('bi-eye-slash-fill');
                eye.classList.toggle('bi-eye-fill');
            
                var pass=document.getElementById('Pass');
                if(pass.type=='text')
                    pass.type='password';
                else
                    pass.type='text';
                ">
            <i id="shPass" class="bi bi-eye-slash-fill"></i></span>
        </div>

        <div class="input-group mb-3 mt-5">
          <input type="text" class="form-control"  name="addr1" placeholder="Address line 1" aria-label="Address line 1" required >
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control"  name="addr2" placeholder="Address line 2" aria-label="Address line 2" >
        </div>


        <div class="input-group mb-3">
          <input required type="text" class="form-control"  name="city" placeholder="City" aria-label="City" >
        </div>

        <div class="input-group mb-3">
          <input type="text" required class="form-control"  name="state" placeholder="State" aria-label="State" >
        </div>

        <div class="input-group mb-3">
          <input type="number" required class="form-control"  name="postal" placeholder="Postal" aria-label="Postal" >
        </div>

        <div class="input-group mb-3">
          <input type="text" required class="form-control"  name="country" placeholder="Country" aria-label="Country" >
        </div>

        <input type="submit" class="btn btn-secondary"></input>

      </form> 
      
    </div>
  </div>
<center>

{% endblock midPart %}


